fastapi==0.115.0
uvicorn[standard]==0.30.6
firebird-driver==1.10.6
firebird-base~=1.8
python-dotenv==1.0.1
slowapi==0.1.9
pydantic==2.9.2
psycopg2-binary==2.9.9
cryptography==43.0.1
pyjwt==2.9.0
reportlab==4.2.5
requests==2.32.3
python-barcode==0.15.1
Pillow==10.4.0
weasyprint==69.0
pydyf==0.12.1